{% extends "aremind/layout.html" %}

{% block javascripts %}
    {{ block.super }}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
{#		<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}broadcast/css/broadcast.css" />#}
{% endblock %}

{% block content %}

<div class="module">
    <h2>Decision Tree Triggers</h2>
    <table id='triggers-table'>
        <thead>
            <tr>
                <th>Trigger</th>
                <th>Form</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for trigger in triggers %}
            <td><a href="{% url smsforms_edit-triggers trigger.id %}">{{ trigger.trigger_keyword }}</a></td>
            <td>{{ trigger.xform }}</td>
            <td><a href="{% url smsforms_edit-triggers trigger.id %}">{{ Edit }}</a></td>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
